.imagens {
  height: 200px;
  width: 200px;
  background-size: contain;
  border-radius: 50%;
}

.grupo {
  display: flex;
  flex-direction: column;
}

.perfil {
  margin: 50px 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfil-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}
.text {
  color: ghostwhite;
  font-size: x-large;
}
