@font-face{
    font-family: "BebasNeue";
    src: url('BebasNeue.OTF');
}

main{
    margin-top:0;
    margin-bottom: 0;
}

.ftotal{
    background-color: #000000;
    padding-bottom: 10%;
}

.ftitulo{
    font-family: "BebasNeue";
    src: url('BebasNeue.OTF');
    font-size: 60px;
    color: #C71E21;
    padding-left:7%;
    border:none;
}

.estrelas{
    padding-left:7%;
    display: inline;
    float:left;
    padding-right:2%;
}

.estrelas input[type=radio] {
    display: none;
}

.estrelas label i.fa{
    font-size: 25px;
    cursor: pointer;
}

.estrelas label i.fa:before {
    content:'\f005';
    color: #FC0;
}

.estrelas input[type=radio]:checked ~ label i.fa:before {
    color: #CCC;
}

.fdescrição1{
    color: #ffffff;
    padding-left: 5%;
    /* border:none; */
    /* margin-left:2%; */
}

.fdescrição2{
    color: #ffffff;
    padding-left: 5%;
    padding-right:15%;
    padding-bottom: 1%;
}

.fbotao-play{
    font-family: arial;
    font-size: 40px;
    border:none;
    cursor: pointer;
    margin-left: 7%;
    height: 70px;
    width:70px;
    line-height: 35px;
    border-radius: 35px;
    background: #C71E21;
}

.fbotao-play:hover{
    background: #BB2D3B;
}

.fbotao-plus{
    font-family: arial;
    font-size: 30px;
    border:none;
    cursor: pointer;
    margin-left: 2%;
    height: 60px;
    width:60px;
    line-height: 30px;
    border-radius: 30px;
    background: #333333;
}

.fbotao-plus:hover{
    background: #5d5656;
}

.fg{
    color: #000000;
}

.fbotao-trailer{
    font-family: "BebasNeue";
    src: url('BebasNeue.OTF');
    font-size: 20px;
    background: #C71E21;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    color: #fff;
    border: none;
    font-size: 30px;
    margin-left: 2%;
}

.fbotao-trailer:hover{
    background: #BB2D3B;
}

.imgContainer{
    float:left;
  }


  .titulohomea{
    margin-left: 7%;
    color:blanchedalmond;
    font-size: 30px;
    font-family: "BebasNeue";
    src: url('BebasNeue.OTF');
    padding-top:10%;
  }

  .titulohome{
    margin-left: 7%;
    color:blanchedalmond;
    font-size: 30px;
    font-family: "BebasNeue";
    src: url('BebasNeue.OTF');
    padding-top:11%;
  }
  
  
  .image123{
    padding-left: 10%;
    padding-bottom: 150px;
  }
  
  .categ{
    margin-left: 5%;
  }
  
  