.buscador{
  margin-top: 80px;
}
 
  .marketing{
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .header {
    padding-bottom: 20px;
  
  }
  .header h3 {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 40px; 
    text-align: center;
  }
  
  .container-narrow > hr {
    margin: 30px 0;
  }
  
  
  .marketing {
    margin: 40px 0;
  }
  .marketing p + h4 {
    margin-top: 28px;
  }
  
  
  @media screen and (max-width: 768px) {
    
    .header,
    .marketing,
    .footer {
      padding-right: 0;
      padding-left: 0;
    }
    .header {
      margin-bottom: 30px;
    }
  
  }

  .thumbnail {
    height: 360px;
    text-align: center;
  }

  .thumbnail img{
    height: 230px;
  }