.flexboxCenter {
  display: flex;
  justify-content: center;
}

.fundoArcoIrisTitulo {
  display: flex;
  margin-top: 0;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, red, orange, yellow, green, blue, violet);
  color: rgba(22, 22, 22, 0.801);
  height: 80px;
  width: 40%;
  border-radius: 0.5em;
  z-index: 1;
}

#botao-voltar {
  position: absolute;
  margin-top: 0px;
  margin-left: 30%;
  padding: 20px;
  font-size: 25px;
  float: left;
  z-index: 2;
}

#botao-voltar {
  color: white;
  text-shadow: rgba(0, 0, 0, 0.582) 0.1em 0.1em 0.2em;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

#botao-voltar:hover {
  color: rgba(255, 255, 255, 0.301);
}

#informacoes_usuario {
  font-size: 25px;
  text-shadow: rgb(110, 110, 110) 0.1em 0.1em 0.2em;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.575);
}
