@font-face{
    font-family: "raleway";
    src: url('/raleway.ttf');
}

body{   
   background: url(../imagens/02.jpg) center center no-repeat fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;     
}

header{
    margin-top: 1%;
    margin-left: 1%;
}

.titulo-formulario{
	font-family: "raleway" ;
	font-size: 25px;
	padding-top: 10px;
	text-align: center;
	text-shadow: 2px 2px #f6f2f2;
}

.main--cadastro{
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
	padding: 20px;
	margin-top: 2%;
}
.nome--campo{
	color:whitesmoke;
}
.button--cadastro{
	display: block;
}

.checkbox{
	padding-top: 2%;
}