.container-footer1 {
  background-color: rgb(241, 233, 233);
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.container-footer2 {
  text-align: center;
  display: block;
  padding: 1%;
}

.container-footer3 {
  text-align: center;
  display: block;
  padding-bottom: 0.1%;
}

.imagem-footer {
  width: 150px;
  height: 51px;
}
