.navbar1{
	padding: 2%;
	background-color: transparent;
}
 
.navbar-a{
	 color:black;
}

.posicao-botao{
	text-align: right;
}

.botao-login{
    color: rgb(255, 255, 255);
    border:none;
    cursor: pointer;
    height: 35px;
    width: 100px;
    line-height: 0px;
    border-radius: 20px;
	margin-left: 700%;
	margin-right: 5%;
    background: rgb(13, 110, 253);
}

.botao-login:hover{
    background: rgb(13, 110, 253);
    opacity: 0.8;
}