@font-face {
  font-family: "raleway";
  src: url("../raleway.ttf");
}

body {
  font-family: "raleway" !important;
  background-color: #ebe3e3 !important ;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  margin: 0;
}

h1 {
  width: 60%;
  text-align: center;
  margin-left: 30%;
  font-weight: bold !important;
  color: rgb(253, 253, 253) !important;
  text-shadow: black 0.1em 0.1em 0.2em;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.267),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form {
  background-color: rgba(255, 255, 255, 0.671);
  width: 60%;
  height: 520px;
  font-size: 18px;
  border-radius: 0.5em;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.267),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  margin-top: 20px;
  margin-left: 20%;
  text-align: center;
}

.botaoEnviar {
  color: rgb(255, 255, 255);
  background-color: rgba(87, 0, 124, 0.514);
  height: 50px;
  width: 40%;
  border-radius: 0.5em;
  border: 0;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-shadow: rgba(0, 0, 0, 0.226) 0.1em 0.1em 0.2em;
}

.botaoEnviar:hover {
  color: rgba(0, 0, 0, 0.568);
  background-color: rgba(87, 0, 124, 0.26);
}

.botaoEnviar:active {
  height: 48px;
  width: 39%;
}

.cabecalho {
  margin: 10px 10px 10px 10px;
}


.containerCheck {
  height: 60px;
  width: 100%;
  border-radius: 14px;
}

.estiloInput {
  border-radius: 0.5em;
  height: 35px;
  background-color: rgba(255, 255, 255, 0.164);
  border: 2px solid rgba(0, 0, 255, 0.247);
}

#mensagemErro {
  font-size: small;
  color: red;
}

.container-check {
  display: flex;
  justify-content: center;
}

