<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Cadastro</title>
		<link rel="shortcut icon" type="image/x-icon" href="/imagens/favicon.png">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link href="/css/cadastro.css" rel="stylesheet">
		<link href="/css/footer.css" rel="stylesheet">
        <link href="/css/navbar.css" rel="stylesheet">
	</head>
	<body>
        <header class= "navbar1">
			<nav id="transparencia" class="navbar navbar-expand-lg navbar-light">
			<div class="container-fluid">
			  <a class="navbar-brand" href="/">
				<img src="/imagens/logo_neon_lgbt.png" alt="" width="130" height="29" class="d-inline-block align-text-top">
			  </a>
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
				  <li class="nav-item">
					<a class="nav-link" href="/">Home</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link active" aria-current="page" href="cadastro">Cadastro</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="equipe">Equipe</a>
				  </li>
				</ul>
			  </div>
			  <div class="alinhamento">
				<a href="login"><button class="botao-login"><b>Login</b></button></a>
			  </div>
			</div>
		  </nav>
	</header>

    <br><br>
	<p class="titulo-formulario">Formulário de Cadastro</p>

		<main class="main--cadastro mx-auto w-50">
			<form id="formExemplo" data-toggle="validator" role="form" method="post" autocomplete="off">
				<div class="row">
					<div class="form-group col">
						<label for="textNome" class="control-label nome--campo">Nome</label>
						<input id="textNome" class="form-control" placeholder="Digite seu Nome" name="nome" type="text" required>
					</div>
					<div class="form-group col-auto">
						<label for="cpf" class="control-label nome--campo">CPF</label>
						<input id="cpf" name="cpf" class="form-control" placeholder="Digite seu CPF" type="text" pattern="[0-9.-]{14}"  maxlength="11" onblur="formataCPF(this)" required>
						<div id="cpf-validation" class="invalid-feedback">Verifique o CPF informado.</div>       
						<div id="cpf-validation" class="valid-feedback">CPF válido.</div> 
					</div>
				</div>
								
				<div class="form-group">
				<label for="inputEmail" class="control-label nome--campo">Email</label>
				<input type="email" class="form-control" name="email" id="email" placeholder="Digite seu melhor e-mail" required></input>      
				<div id="email-validation" class="invalid-feedback">Verifique o e-mail informado.</div>       
				<div id="email-validation" class="valid-feedback">E-mail válido.</div> 
				</div>
				
				<div class="row">
					<div class="form-group col">
					<label for="inputPassword" name="senha" class="control-label nome--campo">Senha</label>
					<input type="password" class="form-control" id="password" placeholder="Digite sua senha"  
						data-minlength="6" data-bs-toggle="tooltip" data-bs-placement="bottom" name="senha" title="Mínimo de 8 dígitos, 1 maiúsculo e 1 caractere especial."
						required>
					</div>
					<div class="form-group col">
					<label for="inputConfirm" class="control-label nome--campo">Confirme a senha</label>
					<input type="password" class="form-control" id="inputConfirm" placeholder="Confirme sua Senha" 
						data-match="#password" data-match-error="Atenção! As senhas não estão iguais." required>
					<div class="help-block with-errors"></div>
					</div>
				</div>
				
				<!-- API DOS CORREIOS QUE FOI RETIRADA
				<div method="get" action=".">
					<div class="form-group">
						<label class="nome--campo">Digite seu CEP<input class= "form-control" placeholder= "CEP" name="cep" type="text" id="cep" value="" maxlength="9" size="12" onblur="pesquisacep(this.value);" /></label>
					</div>
					<div class="form-group row">
						<label class = "col nome--campo">Logradouro<input class= "form-control" name="rua" type="text" id="rua" required/></label>
						<label class = "col-auto nome--campo">Número<input class= "form-control" name="número" type="text" id="número" required/></label>
					</div>
					<div class="form-group row">
						<label class = "col nome--campo">Complemento<input class= "form-control" name="rua" type="text" id="complemento"/></label>
						<label class = "col nome--campo">Bairro<input class= "form-control" name="bairro" type="text" id="bairro" required/></label>
					</div>
					<div class="form-group row">
						<label class = "col nome--campo">Cidade<input class= "form-control" name="cidade" type="text" id="cidade" size="60"/></label>
						<label class = "col-auto nome--campo">Estado<input class= "form-control" name="uf" type="text" id="uf" size="4"/></label>
					</div>								
				</div> -->
				
				<div class="form-group mb-3 nome--campo">
					<div class="checkbox">
					<label>
						<input type="checkbox" data-error="Você deve marcar este campo!" required> Marque aqui se você está de acordo com os nossos <a style="color:rgb(255, 255, 255)" href="https://neon.com.br/static/termos-de-uso" target="_blank"><b>Termos e Condições e Uso.</b></a>
					</label>
					<div class="help-block with-errors"></div>
					</div>
				</div>
				<div class="form-group mt-3 mx-auto">
					<input type='submit' value="Enviar"  class='btn btn-primary theme-btn col-6 mx-auto button--cadastro'></input>
				</div>

			</form>
		</main>
    <br><br><br><br><br><br><br><br>
    <footer>
      <div class="container-footer1">        
          <div class="container-footer2">
            <img class="imagem-footer" src="/imagens/logo_techtalents.png" alt="logo-footer" />
          </div>
          <div class="container-footer3">
              <p><b>2ª Etapa Tech Talents - Desafio Neon - GRUPO 7</b></p>
          </div>           
      </div>
    </footer>
		<script src= "https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>    
		<script src="/js/validacpf.js"></script>
		<script src="/js/validador.js"></script>
		<script src="https://kit.fontawesome.com/03c3e7eb25.js" crossorigin="anonymous"></script>
	</body>
</html>